<div class="row_fluid visible-phone">
  <%= form_for(@game) do |f| %>
    <%= fields_for :results do |d| %>
      <div class="span12">            
        <div class="row-fluid">
          Name: <%= select_tag :player_one, options_from_collection_for_select(Player.where(:retired => !true).order(:name), :id, :name) %>
        </div>
        <div class="row-fluid">            
          Score: <%= d.number_field :player_one_score %>
        </div>
      </div>
      <div class="span12">                        
        <div class="row-fluid">
          Name: <%= select_tag :player_two, options_from_collection_for_select(Player.where(:retired => !true).order(:name), :id, :name) %>
        </div>
        <div class="row-fluid">
          Score: <%= d.number_field :player_two_score %>
        </div>
      </div>
      <div class="row-fluid">       
        Comments
        <div class="row-fluid">
          <%= f.text_area :comment, :size => "50x2" %>
        </div>            
      </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>