<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span3">
    <%= f.label :name %>
    <div class="row-fluid">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="span2">
    Retired?
    <div class="row-fluid">
      <%= f.check_box :retired %>
    </div>             
  </div>

  <div class="actions row-fluid">
    <%= f.submit %>
  </div>
<% end %>
