<h1>Leaderboard</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Wins</th>
    <th>Losses</th>
    <th>Points For</th>
    <th>Points Against</th>
  </tr>

<% @players.each do |player| %>

  <tr>
    <td><%= player.name %></td>
  	<td><%= player.results.count(:conditions => {:winner => true}) %></td>
  	<td><%= player.results.count(:conditions => {:winner => false}) %></td>
  	<td><%= player.points_for %></td>
  	<td><%= player.points_against %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
