<h1>Leaderboard</h1>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Win %</th>
          <th>Avg PF</th>
          <th>Avg PA</th>
          <th>Diff</th>          
          <th>Streak</th>
        </tr>
      </thead>
      <tbody>   
        <% @players.each do | player | %>

          <% if player.is_not_retired %>
          <tr>
            <td><%= link_to player.name, player %></td>
            <td class="center"><%= player.win_count %></td>
            <td class="center"><%= player.loss_count %></td>
            <td class="center"><%= number_with_precision(player.win_percent, :precision => 3) %></td>
            <td class="center"><%= points_for(player) %></td>
            <td class="center"><%= points_against(player) %></td>
            <td class="center<%= diff(player) > 0 ? " text-success" : " text-error" %>"><%= diff(player) %></td>         	  
            <td class="center<%= curr_streak(player) == true ? " text-success" : " text-error" %>"><%= streak(player) %></td>         	  
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
