<p id="notice"><%= notice %></p>
<h1><%= @player.name %></h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th class="span2">Wins</th>
      <th class="span2">Losses</th>
      <th class="span2">Win %</th>
      <th class="span2">Avg Points For</th>
      <th class="span2">Avg Points Against</th>
      <th class="span2">Streak</th>
    </tr>
  </thead>
  <tbody>
    <tr>
            <td class="center"><%= win_count(@player, 0) %></td>
            <td class="center"><%= losses(@player, 0) %></td>
            <td class="center"><%= win_percent(@player, 0) %></td>
            <td class="center"><%= points_for(@player, 0) %></td>
            <td class="center"><%= points_against(@player, 0) %></td>
            <td class="center"><%= streak(@player) %></td>   
    </tr>
  </tbody>
</table>

<%= render 'layouts/game' %>    

<%= link_to 'Back', players_path %>
