<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
  <b>Wins:</b>
  <%= @player.results.count(:conditions => {:winner => true})%>
  <b>Losses:</b>
  <%= @player.results.count(:conditions => {:winner => false})%>
  <b>Points for:</b>
  <%= @player.results.sum(:score)%>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
