<% @date = "" %>
<% @games.each do |game| %>
  <% @time = game.created_at.in_time_zone("Eastern Time (US & Canada)") %>
  <% if @time.strftime("%m/%d/%Y") != @date %>
    <% @date = @time.strftime("%m/%d/%Y") %>
    <h2><%= @date %></h2>
  <% end %>
  <div class="row-fluid">
    <table class="table table-striped table-bordered">
      <% game.players.each do |player|%>
          <% result = player.results.first(:conditions => { :game_id => game.id }) %>
          <% if result.winner %>
            <tr class="success">
          <% else %>
            <tr>
          <% end %>
            <td class="span8">
              <%= link_to player.name, player %>
            </td>
            <td class="span2">
              <%= result.score %>
            </td>
          </tr>
      <% end %>

      <% if @admin == true %>   
        <tr><td colspan=2><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td></tr> 
      <% end %>
    </table>
    
    <% if game.comment != "" && game.comment %>
      <h4>Notes:</h4>
      <p class="notes"><%= game.comment %></p>
    <% end %>

  </div>
<% end %>
</div>